@font-face {font-family: 'KorolevCondensed-Medium';src: url('fonts/30D846_1_0.eot');src: url('fonts/30D846_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/30D846_1_0.woff2') format('woff2'),url('fonts/30D846_1_0.woff') format('woff'),url('fonts/30D846_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Korolev-Bold';src: url('fonts/30D846_2_0.eot');src: url('fonts/30D846_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/30D846_2_0.woff2') format('woff2'),url('fonts/30D846_2_0.woff') format('woff'),url('fonts/30D846_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Korolev-Light';src: url('fonts/30D846_3_0.eot');src: url('fonts/30D846_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/30D846_3_0.woff2') format('woff2'),url('fonts/30D846_3_0.woff') format('woff'),url('fonts/30D846_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Korolev-Medium';src: url('fonts/30D846_4_0.eot');src: url('fonts/30D846_4_0.eot?#iefix') format('embedded-opentype'),url('fonts/30D846_4_0.woff2') format('woff2'),url('fonts/30D846_4_0.woff') format('woff'),url('fonts/30D846_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Korolev-Thin';src: url('fonts/30D846_5_0.eot');src: url('fonts/30D846_5_0.eot?#iefix') format('embedded-opentype'),url('fonts/30D846_5_0.woff2') format('woff2'),url('fonts/30D846_5_0.woff') format('woff'),url('fonts/30D846_5_0.ttf') format('truetype');}


@font-face {font-family: 'KorolevCondensed-Thin';src: url('fonts/korolevcondensed-thin.eot');src: url('fonts/korolevcondensed-thin.eot?#iefix') format('embedded-opentype'),url('fonts/korolevcondensed-thin.woff2') format('woff2'),url('fonts/korolevcondensed-thin.woff') format('woff'),url('fonts/korolevcondensed-thin.ttf') format('truetype');}

@font-face {font-family: 'KorolevCondensed-Light';src: url('fonts/korolevcondensed-light.eot');src: url('fonts/korolevcondensed-light.eot?#iefix') format('embedded-opentype'),url('fonts/korolevcondensed-light.woff2') format('woff2'),url('fonts/korolevcondensed-light.woff') format('woff'),url('fonts/korolevcondensed-light.ttf') format('truetype');}
 


.korolev {font-family: 'Korolev-Medium', sans-serif;}
.korolev-light {font-family: 'Korolev-Light', sans-serif;}
.korolev-thin {font-family: 'Korolev-Thin', sans-serif;}
.korolev-compressed {font-family: 'KorolevCondensed-Medium', sans-serif;}
.korolev-condensed-thin {font-family: 'KorolevCondensed-Thin', sans-serif;}
.korolev-condensed-light {font-family: 'KorolevCondensed-Light', sans-serif;}

