.button {
font-size: 14px;
    color: #fff;
	cursor: pointer;
    display: inline-block;
    text-align: center;
	text-decoration: none;
    line-height: 28px;
    height: 28px;
	border: 0;
    font-family: $brand-font;
	-webkit-appearance: none;
	outline: 0;
	background-color: $button-color;
	white-space: nowrap;
	padding: 0 24px;
}
.button:hover, .button:active {
background-color: $button-color-hover;
}

	.ghost {
    border: solid 1px #000;
    color: #000;
    background: transparent;
	&:hover,&:focus {
	background: $button-color;
	border-color: $button-color;
	color: #fff;
	}

}
	.button.light, .light .ghost {
    border-color: #fff;
    color: #fff;
	&:hover,&:focus {
	background: $button-color;
	border-color: $button-color;
	}
	}
	.button.dark.ghost {
    border-color: #000;
    color: #000;
	&:hover,&:focus {
	background: #000;
	border-color: #000;
	color: #fff;
	}
	
}
.button.gold {
		background: #836834;
		color: #fff;
		border: 0!important;
	}	
.button.social {
	text-transform: none;
    font-size: 20px;
    width: 260px;
    position: relative;
    padding-left: 40px;
		&:before {
			position: absolute;
			left: 14px;
			line-height: 70px;
			font-size: 40px;
		}
}
	.small {
    height: 28px;
    width: 80px;
    line-height: 28px;
    font-size: 14px;
	padding: 0;
}
.medium {
    height: 50px!important;
	line-height: 50px!important;
    min-width: 150px;
    font-size: 18px!important;
}
.large{
    height: 70px;
    line-height: 70px;
    min-width: 150px;
    font-size: 24px;
	padding: 0 15px;
	@include breakpoint(phone-p) {
		font-size: 6.5vw;
		&.m-wrap {
		white-space: normal;
		line-height: 100%;
		padding-top: 14px;
		}
	}
}
.wide {
width: 320px;
padding: 0;
@include breakpoint(phone) {
		max-width: 90vw;
		font-size: 5.5vw;
	}
}

.picker__close, .picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #26a69a;
}

.btn-flat {
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
}
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.button.ghost.circle {
    width: 60px;
    height: 60px;
    white-space: normal;
    padding: 15px 0 0;
    max-width: 60px;
    min-width: initial!important;
    line-height: 100%;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 20px;
    color: $brand-color;
    border-color: $brand-color;
    &:hover,&:active {
    color: #fff;
    }
}
.button.ghost.light.circle {
	border-color: #fff;
	&:hover,&:active {
	border-color: $brand-color;
	}
}
