.icon-close-empty.trigger-close {
    color: #000;
    &:before {
            font-size: 40px;
            font-weight: bold;
            }
}


#contentWrapper .dash1 > li > h3 {
background: $dash1;
    &:hover {
    background-color:darken($dash1, 10%);
  }
}
#contentWrapper .dash2 > li  >  h3{
background: $dash2;
&:hover {
    background-color:darken($dash2, 10%);
  }
}
#contentWrapper .dash3 > li > h3{
background: $dash3;
&:hover{
    background-color:darken($dash3, 10%);
  }
}
#contentWrapper .dash4 > li > h3{
background: $dash4;
&:hover{
    background-color:darken($dash4, 10%);
  }
}
#contentWrapper .dash5 > li > h3{
background: $dash5;
&:hover{
    background-color:darken($dash5, 10%);
  }
}
#contentWrapper .dash8 > li > h3{
background: $dash8;
&:hover{
    background-color:darken($dash8, 10%);
  }
}
.dashbar > li > h3:focus {
outline: 0;
}
 
[id=datesChosen] li {
	display: inline-block;
	width: 100%;
	label {
	display: inline-block;
	min-width: 72px;
	}

} 
 
[id^=dashboard]{
    .row {
        @include display-flex; 
        max-width: 1066px;
        width: 100%;
        padding: 0;
        margin: auto;
		@include breakpoint(below-desktop) {
			max-width: 90vw;
			}
        &.sr-grid .list-boxes {
            @include breakpoint(phone-p) {
                max-width: 100%;
            }
        }    
        }
}		
    [id$=headerBanner] {
        background: url(images/hero-dashboard.jpg) no-repeat 50% 50%/cover;
        font-size: 0;
        min-height: 118px;
        height: auto;
        color: #fff;
        .gold-member & {
            background-image: url(images/hero-dashboard-gold.jpg);
        }
        .gold-member &{
            ul > li {
            min-height: 84px;
            }
            &.icon-profile {
                line-height: 84px;
                }
        }
        ul {
            @include display-flex; 
            width: 1066px;
            max-width: 94vw;
            margin: 0 auto;
            height: 100%;
            min-height: 118px;

            li{
            font: normal 24px/1.2 $brand-font-light;
            @include flex(1,1,25%);
            @include align-self(flex-end);
            margin-bottom: 12px;
                * {
                     
                    width: 100%;
                    display: inline-block;
                }
                label {
                    font-size: 14px;
                    color: #fff;
                    width: 100%;
                     
                }
                 
                a {
                    color: #fff;
                }
                &.icon-profile {
                padding-top: 20px;
                    &:before {
                    font-size: 34px;
                    }
                }
                .level {
                font-family: $brand-font-compressed;
                }
            }
        }
    }
 
@media (max-width: 500px) and (orientation: portrait) {
    #headerBanner ul {
        -ms-flex-flow: row wrap;
        -webkit-flex-direction: column;//Low iPhone
        -webit-flex-flow: row wrap;
        flex-flow: row wrap;
        li {
        -ms-flex: 100%;
        -webkit-box-flex: 100%;
        -webkit-flex: 1;
        flex: 100%;
        min-width: 100%;
        }
    }
 
}/*[id$=dashboardPage]*/

 
[id=warningStrip] {
    background: $dash5;
    margin: 3px 0 0;
    .gold-member &{
        background: #000;
        .icon-close-empty.trigger-close:before {
        color: #fff;
        }
    }
    & div{
    min-height: 58px;
        @include display-flex; 
        @include align-items(center);
        @include justify-content(space-between); 
    width: 1066px;
    max-width: 94vw;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
        p{
            &:before{
            font-size: 25px;
            width: auto;
            margin-right: 12px;
            }
             
        }/*p*/
       
    a {
        color: #fff;
        text-decoration: underline;
        margin-left: 1em;
		white-space: nowrap;
    }
     
    }/*div*/
 
}/*[id$=warningStrip]*/
 
 
[id$=dashbarWrapper],.dashbar-wrapper {
    padding-bottom: 118px;
	
	div[id^=content] {
		padding: 100px 0;
		@include breakpoint(phone) {
				padding: 80px 0 50px;			
				}
		.row {
            width: 100%;
			max-width: 800px;
            @include breakpoint(phone) {
            max-width: 90vw;
            }
            &.grid-holder,&.sr-grid {
            max-width: 100%;
            background: transparent;
            }
            &.sr-grid {
            padding-left: 0;
            padding-right: 0;
            .click-box {
                margin-left: 18px;
                margin-right: 18px;
                padding-left: 0;
                padding-right: 0;
            }
            }
		}

	}
    h1 {
        color: #999;
        margin: 100px 0 64px;
    }
    h2 {
        margin: 50px 0 30px;
    }
    h3[role=button] {
	background: $brand-color;
    cursor: pointer;
        color: #fff;
        font: normal 21px/49px $brand-font;
        padding-left: 54px;
            span {
            font-family:$brand-font-light;
            display: none;
                &:before {
                    content: '\|';
                    display: inline-block;
                    margin: 0 .75em;
                     
                }
            }
        &:before {
        content: '\e813';
        font-family: dae;
        transition: transform 0.3s ease-in-out;
        position: relative;
        left: -32px;
        float: left;
        font-size: 25px;
         
        }
         
         
    } /*h3*/
    .active h3[role=button]:before {
            transform:rotate(-225deg);
        }
     
           .dashbar {
                width: 100%;
                & > li {
        margin-bottom: 3px;
    }
            }
    
 
 
}/*[id$=dashbarWrapper],.dashbar-wrapper */
 
 
@media (min-width: 1023px) {
.dashbar h3[role=button] span{
display: inline-block;
}
}
@media (max-width: 373px) and (orientation: portrait){
.dashbar h3[role=button] {
font-size: 5vw;
}
}
 
 
 
 
 
 
[id$=memberWallet] {
    background: #EDEFF3;
    > ul.row {
        max-width: 99%;
        padding: 10px 0;
        @include breakpoint(desktop){
            -ms-flex-wrap: nowrap;
            }
    margin-top: 3px;
        >li {
            background: #E1E3E7;
            flex: 0 1 259px;
            margin-bottom: 10px;
            height: 205px;
            text-align: center;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            .gold-member &{
                background: #333;
            }
                span {
                    min-width: 108px;
                    height: 108px;
                    background: $dash6;
                    border-radius: 50%;
                    text-align: center;
                    font: normal 40px/108px $brand-font-light;
                    color: #fff;
                    display: inline-block;
                    margin-top: 25px;
                    position: relative;
                    .gold-member & {
                    background: $gold;
                    }
                }
                label {
                    width: 100%;
                    display: inline-block;
                    color: #323232;
                    font: normal 24px/1.2 $brand-font-light;
                    margin-top: 19px;                   
                    cursor: pointer;
						@include breakpoint(below-tablet) {
							font-size: 20px;
						}
                    .gold-member &{
                        color: #fff;
                    }    
                }
            }       
            > .alert span:after{
                content: '!';
                font: normal 24px/33px $brand-font-bold;
                background-color: $dash5;
                width: 33px;
                height: 33px;
                display: inline-block;
                border-radius: 50%;
                position: absolute;
                top: 1px;
                right: 2px;
                .gold-member & {
                background: #000;
                }
            }    
            > .badge:after {
                content: 'START EARNING';
                color: #5dbeb0;
                background: #555;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
                width: 218px;
                height: 40px;
                font: normal 18px/40px $brand-font;
                right: -45px;
                top: 43px;
                .gold-member & {
                background: #11cfbf;
                color: #000;
                }
            }
    }
     
    > ul {
        > li.active,
        > li:hover  {
            span{
                background: #fff;
                color: #999;
                    .gold-member & {
                    background: #fff;
                    color: $gold;

                    }
                }
            label{
            color: #fff;
            .gold-advantage & {
                    color: #fff;
                    }
            }

        }
         
        > [id$=depositCredits].active,
        > [id$=depositCredits]:hover {
            @include linear-gradient(40deg, $dash6 0%, #0071c7 100%);
            .gold-member & {
                @include linear-gradient(40deg, #875c0b 0%, #a98747 100%);
            } 
        }
        > [id$=weeksOnHold].active,
        > [id$=weeksOnHold]:hover {
            @include linear-gradient(68deg, #1691d5 0%, #0a51b6 100%);
            .gold-member & {
                @include linear-gradient(40deg, #875c0b 0%, #a98747 100%);
            } 
     
        }
        > [id$=myMessages].active,
        > [id$=myMessages]:hover {
            @include linear-gradient(47deg, #0068c2 0%, #4f38a0 100%);
            .gold-member & {
                @include linear-gradient(40deg, #875c0b 0%, #a98747 100%);
            } 
             
        }
        > [id$=daeRewards].active,
        > [id$=daeRewards]:hover {
            @include linear-gradient(45deg, #4f38a0 28%, #882892 100%);
            .gold-member & {
                @include linear-gradient(40deg, #875c0b 0%, #a98747 100%);
            } 
             
        }
    }
    [id$=walletContent] {
        .close-row {
            position: relative;
            height: 80px;
                .icon-close-empty {
                font-size: 45px;
                position: absolute;
                right: 0;
                top: 20px;
            }
        }
         
        > div{
        display: none;
        }
     
    [id$=Content] {
        padding: 0 48px 136px;
        border-top: 3px solid #fff;
        font: normal 21px/25px $brand-font-light;
            .head, label {
                font: normal 14px/40px $brand-font;
            }
            label {
            color: #fff;
            width: 100%;
            display: inline-block;
            text-transform: uppercase;
            }
        .row  {
            max-width: 100%;
            > div {
            min-width: 70px;
            }
            .col1 {
                position: relative;
                 
            }
            .col1, .col3, {
                width: 100px;
            }
            .icon-cancel {
				font-size: 30px;
			} 
             
            &.head {
            height: auto;
            }  
			
			@media (max-width: 1023px) {
				&.entry + .entry {
				margin-top: 48px;
				}
			}
			 
            &.entry [class^=col] {
            padding-bottom: 16px;
            }
             
            @media (min-width: 1024px) {
                label {
                display: none;
                }
                .col2 {
                -webkit-box-flex: 3;
			  -webkit-flex: 3 1 auto;
				  -ms-flex: 3 1 auto;
					  flex: 3 1 auto;
            }   
            .col4 {
                width: 70px;
            }
            .col5 {
                width: 134px;
            }
            .col6 {
                width: 90px;
            }
             
             
             
            }
            @media (max-width: 1023px) {
            
            &.head {
            height: auto;
            display: none;
            text-transform: uppercase;
            }   
            }
             
             
        } /*.row*/
        .alert-row {
            .col1:before {
                content: '!';
                font: normal 24px/33px $brand-font;
                background-color: $dash5;
                width: 33px;
                height: 33px;
                display: inline-block;
                border-radius: 50%;
                position: absolute;
                top: -4px;
                left: -45px;
                text-align: center;
            }
            .col6 span {
                background: $dash5;
                font: normal 14px/28px $brand-font;
                padding: 0 18px;
                display: inline-block;
            }
        }
    }/*[id$=Content]*/
	
	//Content 2-4 tuning
	
	[id$=depositCreditsContent] .row {
		@media (max-width: 1023px) {
			.col2 {
				order: 6; 
				width: 100%;
			}
		}/*media*/
	}/*[id$=depositCreditsContent]*/
	
	
    [id$=weeksOnHoldContent] .row {
		
		.col1 {
			width: 100%;
    		
		}	
		.col6 {
			@include display-flex; 
			@include justify-content(space-between);
			width: 195px;
			& .button {
				min-width: 80px;
			}
			& .icon-cancel {
				margin-right: 30px;
			}
		}	
	@media (min-width: 1025px) {
                .col1 {
				max-width: 332px;
				}
				.col6 span{
				    -ms-flex-item-align: start;
					-webkit-align-self: flex-start;
					-moz-align-self: flex-start;
					align-self: flex-start;
				}
	}	
		
        @media (min-width: 1024px) {
                .col1 {
				
                -webkit-box-flex: 1;
			  -webkit-flex: 1 1 auto;
				  -ms-flex: 1 1 auto;
					  flex: 1 1 auto;
                }   
                .col2,.col3,.col4,.col5 {
                    width: 134px;
                }
				.col2 {
				-webkit-flex: 0 0 134px;
				-webkit-box-flex: 0;
				  -webkit-flex: 0 0 134px;
					  -ms-flex: 0 0 134px;
						  flex: 0 0 134px;
				}
                 
            }/*media*/
			
    }    /*[id$=weeksOnHoldContent]*/
         
	[id$=myMessagesContent] .row {
		.col1 {
			@include flex(4,1,60%);
			@media (max-width: 768px) and (orientation: portrait) {
			width: 100%;
			-webkit-flex: 100%;
			flex: 100%;
			}
		}
		.col3 {
			text-align: center;
		}
	
	}    /*[id$=weeksOnHoldContent]*/

	[id$=daeRewardsContent] {
		padding-bottom: 86px;
		.row {
		h2 {
			margin-top: 18px;
			margin-bottom: 16px;
		}
		p{
			max-width: 800px;
			margin: auto;
		
		}
		.button {
			margin-top: 50px;
		}
		}
	
	}    /*[id$=daeRewardsContent]*/

    }   /*[id$=walletContent]*/

 
 
/* Blocks fitting responsive */
    @media (min-width: 760px) {
        ul {
        &.row {
            padding: 0;
        }
        > li {
            margin-bottom: 10px;
        }   
        }
    }
    @media (min-width: 1107px) {
        ul > li {
        width: 259px;
        }
        [id$=depositCreditsContent] .row.entry .col1,
        [id$=depositCreditsContent] .row.entry .col3 {
        width: 134px;
        }
        [id$=depositCreditsContent] .row.entry .col5 {
                width: 400px;
            }
        [id$=depositCreditsContent] .row.entry .col5 {
                width: 200px;
            }
    }
    @media (min-device-width: 768px) and (orientation: landscape) {
    ul > li {
        -webkit-flex: 0 1 24%;
        flex: 0 1 24%;
        }
         
    }   
     
     
    @media (min-width: 667px) and (orientation: landscape) {
        ul.row {
            -weblit-justify-content: space-around;
            justify-content: space-around;
         > li {
            -webkit-flex: 24%;
            flex: 24%;
            margin: 0 .5%;
            }
            [id$=depositCreditsContent] .row .col2 {
            -webkit-flex: 224px;
            flex: 224px;
            }
        }   
    }   
    @media (min-device-width: 767px) and (orientation: portrait) {
        ul.row {
             
         > li {
            -webkit-flex: 24%;
            flex: 24%;
            margin: 0 .5%;
            }
            [id$=depositCreditsContent] .row .col2 {
            -webkit-flex: 224px;
            flex: 224px;
            }
        }   
    }   
	@media (max-width: 600px) {
        ul.row {
             
         > li {
            -webkit-flex: 48%;
            flex: 48%;
            margin: 0 .5% 1%;
			
            }
            [id$=depositCreditsContent] .row .col2 {
            -webkit-flex: 224px;
            flex: 224px;
            }
        }   
    }   
    @media (max-device-width: 736px) and (orientation: portrait) {
        ul.row {
            -webkit-justify-content: center;
            justify-content: center;
         > li {
             
            }
             
        }   
    }   
}


//SEARCH RESULTS


#contentWrapper .booking-blocks {
	margin-top: 48px;
	margin-bottom: 56px;
   	@include justify-content(flex-start); 
	@include align-content(content); 
	
	@media (max-width: 1023px) {
		-webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
	}
	li {
		font-size: 18px;
		text-align: center;
		width: 258px;
		margin: 18px 5px;
		
	@media (min-width: 1024px) {	
		    margin: 18px 31px;
	}	
	
	@media (min-width: 1130px) {	
		    margin: 18px 48px;
	}	
		
	}	
	.exchange .body{
			background: $dash6;
		}
		.rent {
			.body{
				background: $dash4;
			}
			label {
				color: $dash4;
			}
		}
		.bonus {
			.body{
				background: $dash7;
			}
			label {
				color: $dash7;
			}
		}	
		label {
		font-size: 18px;
		}
		.rate {
		color: #000;
		font-size: 40px;
		font-family: $brand-font-light;
		}
		.date {
			background: #ccc;
			padding: 15px;
			margin: 3px 0;
		}
	.body {
		color: #fff;
		padding: 18px;
	}	
	.buttons {
		margin-top: 6px;
		border-top: solid 1px #ddd;
		padding-top: 6px;
		@include display-flex; 
		@include justify-content(space-between);
		.button {
			width: 124px;
			height: 50px;
			line-height: 50px;
			font-size: 20px;
		}
		.unlock.button {
		width: 100%;
		border: 0;
        position: relative;
            &:before {
                content: '\f458';
                font-family: dae;
                font-size: 24px;
                position: absolute;
                top: -86px;
                left: 50%;
                width: 32px;
                height: 32px;
                margin-left: -16px;
                display: inline-block;
                text-align: center;
                color: $gold;
                background: #fff;
                line-height: 32px;
                border-radius: 50%;
            }
		}
	}
	
	
}

.list-boxes li .show-more {
		font-size: 18px;
		width: 100%;
		text-align: center;
			&:after { 
			content: '\f3d4'; 
			font-family: dae;
			font-size: 40px;
			display: inline-block;
			width: 100%;
			} 
	}
	
#dashResultGrid {
	padding-top: 14px;
	
	.list-boxes {
	> li {
		margin-top: 40px;
		max-width: 94vw;
		
		@media (max-width: 1023px) {
			div {
				text-align: center;
                -webkit-align-items: center;
				align-items: center;
				}
			ul.button-line {
            -webkit-align-self: center;
			align-self: center;
			}
		}
		
	}
	}

}	

.form-column,
.member-form {
	
  &.editable.long {
    label {
    font-size: 13px;
    margin-bottom: -20px;
    display: inline-block;
	width: 100%
    }
  }
  &.disabled label,
  &.side-labels label{
    color: #000;
    text-transform: uppercase;
    min-width: 116px;
    line-height: 36px;
    font-size: 14px;
  	@include display-flex;
  }
  &.disabled {
  	label {
		display: block;
	}
    .row {
      @include justify-content(flex-start);
      .input-field {
        margin-top: 0;
      }
      .incomplete input {
        color: $brand-color;
        -webkit-text-fill-color: rgba($brand-color, 1);
        -webkit-opacity: 1;
      }

    input,
    select {
      height: 2em;
      line-height: 2em;
      color: #000;
      font-size: 18px;
      border-bottom: 0;
      font-family: $brand-font;
      //padding-left: 0;
    }
    .caret {
      display: none;
    }
  }
}
  .edit-save {
    margin-top: 32px;
    margin-bottom: 82px;
  }
  .add {
    margin-top: 6px;
  }
}/*.form-column */



		
.show-label label {
display: block;
}		

[id=memberInfoSubTabContent] {
	padding-left: 68px;
	max-width: 890px;
    @include breakpoint(phone-p){
        padding-left: 5vw;
        padding-right: 5vw;
        max-width: 100%;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }
	}
[id$=SubTabContent] {
padding-bottom: 100px;
	
}

[id=newsletterSubTabContent]{
	.x2 {
		em {
				font-style: normal;
				color: $brand-color;
			}
		a {
			color: #000;
			text-decoration: underline;
			
		}
		}
	}
	
[id=passwordResetForm],[id=preferencesForm], [id=ownershipTabContent]{
	margin-top: 60px;
    padding-left: 68px;
	max-width: 890px;
	h2 {
		margin-bottom: 44px;
		}
	.row {
		@include justify-content(flex-start);
		}
	label {
		display: flex;
		@include align-items(flex-end);
		margin-bottom: 4px;
		}
	.button {
		margin-top: 30px;
    	margin-bottom: 100px;
	
		}	
	
}
[id^=preferencesForm] {
	h2.h3 {
		margin-top: -22px;
		margin-bottom: 62px;
		}
	h3 {
		margin: 34px 0;
	}	
	.select-wrapper {
	max-width: 190px;
	}
	.check-row {
		width: 100%;

		label {
			font-size: 18px;
			text-transform: none;
			&:before {
				top: -3px;
			}
		}
		
	}
}/*[id^=preferencesForm]*/

[id^=ownershipTabContent] {
padding-bottom: 100px;
	a{
		color: #000;
		&:hover {
			color: $brand-color;
		}
	}
}

.side-note {
	font-size: 16px;
	color: $brand-color;
	width: 250px;
	margin-left: 32px;	
}

@media (min-width: 768px) and (orientation: portrait) {
	.side-note {
		margin-left: 136px;
	}
}



[id=dashboardSearchPage] [id=searchFormBlock]{
	.title-label {
	margin-top: 60px;
	}
	h3 {
	margin-top: 57px;
	margin-bottom: 30px;
	}
	ul {
	font-size: 20px;
	margin-bottom: 14px;
	font-family: $brand-font-light;
		li.row {
			margin-bottom: 20px;
		}
		label {
			color: #000;
			font-family: $brand-font;
		}
	}
}



[id=dashSearchSelects] {
	/*width: 50%;*/
	/* left: -34px;*/
    position: relative;
	@include display-flex; 
	@include justify-content(space-between);
	width: 100%;
    max-width: 460px;
    @include flex-flow(row, wrap);
    order: 1;
	@media (min-width: 1024px) {	
		    order: 2;
	}	
		li {
			width: 100%;
			margin-top: 24px;
			@media (min-width: 568px) {
			width: 48%;
			}
		}
		.select-wrapper{
			max-width: 170px;
		}
	}
[id=dashSearchLower] .legend {
    margin-top: 66px;
	order: 2;
	@media (min-width: 1024px) {	
		    order: 1;
	}	
	}
	
[id=dashboardSearchPage] .foot-bar {
	margin-top: 32px;
    margin-bottom: 18px;
    padding-bottom: 0;
}


[id=modalRSGold] {
	.h1 {
		margin-top: 40px;
    	margin-bottom: 20px;
	}
	p.strong {
    font-family: Korolev-Medium;
    line-height: 30px;
	}
	 .button-line{
		margin-top: 60px;
		margin-bottom: 30px;
			.button {
				height: 50px;
				width: 156px;
				margin: 10px 32px;
				font-size: 20px;
			}
	}/* .button-line*/
}/*[id=modalRSGold] */


#needMoreChoices {
	padding-top: 76px;
	padding-bottom: 84px;
	label {
		font: normal 18px/1.2 $brand-font-light;
	}
	h3 {
		margin-top: 18px;
	}
	.row.check {
		margin-: 24px auto;
		width: 300px;
	}
	ul {
		margin-top: 47px;
		margin-bottom: 23px;
	}
	ul,li.check {
		width: 300px;
		display: inline-block;
		text-align: left;
	}
	li.check {
		margin-bottom: 42px;
		margin-top: 0;
		padding: 0 6px;
	}
	+ .spacer {
		height: 10vh;
		@include breakpoint(desktop) {
			height: 336px;
		}
	}
	
}/* #needMoreChoices */


#dashResultGrid.hold {
    padding-top: 85px;
	padding-bottom: 116px;
}
.hold .h2 {
	font-family: $brand-font-light;
	margin-bottom: -10px;
	
}

.message-box {
	padding: 60px 0 80px;
	margin-top: -36px;
	margin-bottom: 14px;
	font: normal 20px/1.2 $brand-font-light;
		h3 {
			font-size: 30px;
			margin-bottom: 26px;
		}
}


[id^=dashboardBookingPage] {
	h1 {
		margin-top: 64px;
		margin-bottom: 44px;
		font: normal 40px/36px $brand-font-light;
			span {
				font: normal 26px/36px $brand-font;
				color: $brand-color;
			}
		}
} /*[id^=dashboardBookingPage] */

[id^=bookingSequence] {		
	[id^=progressBar] {
		font-size: 21px;
		li {
			border-bottom: 6px solid #eee;
			width: 30vw;
			max-width: 259px;
			line-height: 42px;
			margin-bottom: 60px;
			margin-top: 13px;
			text-align: center;
			@include breakpoint(phone-p) {	
				    font-size: 4vw;
					}
			}
			.step {
				border-color: $brand-color;
			}
		}	
	h2 {
		font-family: $brand-font;
		width: 100%;
		}
		
		[id^=whoCheckIn] {
			h2 {
			margin-bottom: 30px;
			}
			.row {
				@include justify-content(flex-start);
			}
			#memberGuestRow {
				margin-bottom: 58px;
				
			
				}
			#previous-Country {
				margin-top: 36px;
				margin-bottom: 42px;
				.select-wrapper {
				margin-top: 40px;
				}
				}
			.row {
			    @include align-items(baseline);
			&.check {
				margin-top: 36px;
				background: transparent;
				@include justify-content(flex-start);
				li {
				width: auto;
					min-width: 136px;
				}
				a {
					color: #000;
					text-decoration: underline;
				}
			}	
			}	
			label:not(.active) {
				font-size: 18px;
				color: #000;
				
			}
			.input-field {
				label:not(.active) {
				font-size: 22px;
				}
				input {
				width: 300px;
				}
			}
			.select-wrapper {
			    width: 300px;
				+ label {
				font-family: $brand-font;
				font-size: 18px;
				}
			}
			.select-dropdown {
				padding-left: 12px;
				}
				
			
			.required {
				line-height: 90px;
    			margin-left: 40px;
			}
			[id^=lowerChecks] {
				input[type=checkbox] + label:before {
					position: absolute;
					}
				span {
					position: relative;
					display: inline-block;
					padding-left: 64px;
					}
						
				}
		}
		
		#wci-NextButtonWrapper,[id^=wci-NextButtonWrapper],[id=pb-NextButtonWrapper5] {
				@include justify-content(flex-end);
				.button {
				margin-top: 24px;
				}
			}
	[id^=bookingForm] {
		padding-bottom: 100px;
	
	
	.h3 {
	width: 100%;
	}
}
	.row.check {
		background: #eef0f4;
		@include justify-content(space-around);
			&.spaced {
				margin: 11px auto;
			}
			label:before {
				position: absolute; //keeps the label from wrapping below checkbox
			}
		div {
			padding: 44px 0;
			span {
				vertical-align: top;
    			margin-left: 64px;
				@include breakpoint(below-tablet) {
				margin-left: 44px;
				}
				display: inline-block;
				font-size: 18px;
				line-height: 1.2em;
				color: #000;
				span {
					margin: 0;
					font-size: 22px;
				}
				strong {
				font: normal 18px/1.2 $brand-font;
				}
				.note {
					color: $brand-color;
					font: normal 14px/1.2 $brand-font;
				}
			}
		}
	}

}/*[id^=bookingForm]*/

[id^=bookingForm-MemberDetails] {

}

[id^=bookingForm-SelectCredit] {
.h3 {
	margin-bottom: 24px;
	}
.row.check div {
			max-width: 800px;
			width: 85%;
	}	
}	
.row.check.spaced > div {
    margin: 0 auto;	
}

[id^=bookingForm-BankAndBook] {
	.h3 + p{
	margin-bottom: 24px;
	}
	.row.header-row {
		@include breakpoint(below-tablet) {
			  display: none;
			 }
		& > div {
		font-size: 14px;
		padding: 44px 0 8px;
		}
		
	}
	.row.check {
			.row-left {
			  padding-left: 64px;
			  @include breakpoint(below-tablet) {
			  padding-left: 5vw;
			  width: 100%;
			  }
			  width: 40%;
			}
			.row-right {
				.ir{font-size: 0!important;
					@include breakpoint(below-tablet) {
					font-size: 14px!important;
					line-height: inherit;
					margin-left: 0;
					margin-right: .5em;
					}
				}
				@include display-flex;
				@include flex(3);
				@include justify-content(space-around);
				text-align: center;
				@include breakpoint(below-tablet) {
					 -webkit-flex-flow: row wrap;
					  flex-flow: row wrap;
					  padding-top: 0;
					  }
				 div {
					@include flex(1, 0 33%);
					min-width: 33.33333%;
					padding: 0;
					white-space: nowrap;
					 @include breakpoint(below-tablet) {
					 width: 100%;
					     white-space: nowrap;
						text-align: left;
						margin-left: 60px;
					  }
					span {
						margin-left: 0;
					}  
				}
			}
	}
	
}	

#noWeeks {
    width: 100%;
	padding: 0 40px;
    @include display-flex; 
	@include flex-flow (row, wrap);
    @include align-items(center);
		div {
		padding: 36px 0;
		@include flex (1,1,30%);
			& + div {
				@include flex (2,1,60%);
			}
		}
	
	p {
		font-size: 24px;
	}
} /* [id^=bookingForm-BankAndBook] */



[id$=bookingForm-PayAndBook],.discount-itemization {
.input-button {
    padding: 0 14px;
		.input-field {
			width: 228px;
		}
	}	
	.dl-block {
	    padding: 0 40px 22px 64px;
		a {
			color: #000; 
			text-decoration: underline;
			}
		dl {
			    display: inline-block;
				margin-top: 21px;
				
			dt {
				width: 75%;
    			display: inline-block;
				font-size: 18px;
				margin-bottom: 14px;
			}
			dd {
				width: 20%;
				display: inline-block;
				margin-left: 4%;
				font-size: 18px;
				margin-bottom: 14px;
				a {
					margin-left: 10px;
				}
			}
			
		}
	}
	[id^=bookingTotal] .h1{
		font-family: $brand-font-light;
		margin-top: 30px;
		margin-bottom: 24px;
	}
	[id^=bookingItimization] {
    margin-top: 25px;
	}
	
	
	[id^=modalApplyRewards] {
		.modal-content {
			padding-top: 30px;
		
			}
		[id^=rewardsEnter] {
		width: 124px;
		text-align: center;
		padding-left: 0;
		font-size: 24px;
		margin-bottom: 8px;
		}
		.p1 {
			margin-top: 26px;
			margin-bottom: 48px;
			line-height: 30px;
		}
		#rewardsCalc {
			@include display-flex; 
			@include justify-content (flex-end);
			@include align-items(center);
			span,p {
			color: $brand-color;
			font: normal 45px/1.2 $brand-font-light;
			
			}
			p {
				width: auto;
				display: inline-block;
			}
			.button {
				margin-top: -10px;
				margin-left: 58px;
			}
		}/*#rewardsCalc */
	} /*[id^=modalApplyRewards]*/	
} /*[id^=bookingForm-PayAndBook]*/

[id^=bookingForm-PaymentMethod] {
		position: relative;
		[id^=paymentHeader] {
			@include align-items(baseline);
			margin-bottom: 60px;
			.h3{
				width: auto;
				font-family: $brand-font;
				[id=ccImg] {
					margin-left: 100px;
					@include breakpoint(below-tablet) {
					margin-left: 0;
                    max-width: 86vw;
                    height: auto;
					}
				}
			}
		}/*[id^=paymentHeader] */
		#paymentSection {
			.row {
				@include justify-content(flex-start);
				background: transparent;
					&.check div{
						margin-top: 24px;
						max-width: 700px;
							small {
							margin-top: 24px;
							display: inline-block;
							font-size: 18px;
							color: #555;
							}
					}
				}
				.input-field {
					width: 325px;
					&.half {
						width: 124px;
					}
					&.third {
						width: 224px;
					}
				}
				
			@media (min-width: 800px) {
					.input-field + .input-field {
						margin-left: 62px;
					}
				}
		}
		[id^=paymentPending] {
			display: none;
			position: absolute;
			top: 0;
			background: transparent;
			width: 100%;
			text-align: center;
			h1 {
				margin: 30px 0 24px;
				color: $brand-color;
				font-family: $brand-font;
			}
		
		
		
		}
		[id^=bookingTotal] {
				font-family: $brand-font-light;
				line-height: 18px;
				@include breakpoint(below-tablet) {
				line-height: 1.2;
				}
				small {
					font-size: 18px;
					display: inline-block;
				}
		}
		
		[id^=paymentTotalRow] {
			    @include align-content(stretch);
				@include align-items(center);
					.total-block {
					@include flex(3);
					}
					[id^=pb-NextButtonWrapper] {
					@include flex(1);
					text-align: right;
						.button { 
						margin-bottom: 24px;
						}
					}
		}
	}/*[id^=bookingForm-PaymentMethod]*/
	.price span {
    	font-size: 30px;
	}
/* bookingForm-Confirmation */
		[id^=paymentConfirmedHeader],.confirmation-header {
			position: relative;
			&:after {
				content: '\e800';
				position: absolute;
				font-size: 87px;
				color: $brand-color;
				right: 6px;
				font-family: dae;
				display: inline-block;
				top: -12px;
				@include breakpoint(below-tablet) {
					top: -46px;
				}
			}
			p{
				max-width: 500px;
				margin-bottom: 5px;
			}
			h2 {
			  font-family: Korolev-Medium, sans-serif;
			  width: 100%;
			}
		}
		
		[id^=Print-Email] {
			    width: 100%;
			 li {
				display: inline-block;
				margin: 11px;
					a {
						color: #000;
					}
				}
		}
			[id^=bookingConfirmationBar] {
			@include display-flex;
				@include justify-content(space-around);
				font-size: 24px;
				border-top: solid 1px #333;
				border-bottom: solid 1px #333;
				width: 1057px;
				position: relative;
				left: -5px;
				padding: 15px 0;
				margin-top: -14px;
				
				@include breakpoint(below-tablet) {
					-webkit-flex-flow: row wrap;
					flex-flow: row wrap;
					-webkit-justify-content: flex-start;
					justify-content: flex-start;
					left: 0;
					padding-left: 0;
				}
			}
			
			[id^=bookingConfirmationSummary] {
				.total-block {
				@include flex (0, 0, 49.4%);
                @include breakpoint(desktop) {
                max-width: 49.4%;//IE10&11 box-sizing bug
                }
					&.brand {
						background-color: $dash6;
						
						dt,dd {
							font-size: 18px;
							margin-left: 0;
							margin-bottom: 17px;
							width: 75%;
							display: inline-block;
							a {
								margin-left: 0;
							}
						}
						dd {
							width: 20%;
						}
						.wrap {
							    padding-bottom: 24px;
							dt {
								width: 100%;
								font-size: 14px;
								margin-bottom: 0;
							}
							dd {
								width: 100%
							}
						}
					}
				}
				[id^=bookingConfirmationTotal] {
					@include display-flex;
					& > div {
					    margin-top: auto;
						margin-bottom: 40px;
						}
					[id^=bctTotalPaid] {
						font-size: 18px;
					}
					
					[id^=bctBalance] {
						font: normal 42px/1.2 $brand-font-light;
					}
				
				}
				
/*bookingForm-Confirmation */
	
	}/*[id^=bookingSequence]*/

#contentWrapper {
[id^=bookedResort] {
			.list-top {
				min-height: 74px;
			}
			.list-bottom p{
				font: normal 18px/1.2 $brand-font-light;
			}
		}
}

[id=content-RequestAnExchange] {

	.select-wrapper {
    margin-bottom: 40px;
	}
	.completed .select-wrapper:after {
		content: '\E805';
		font-family: dae;
		color: $dash1;
		position: absolute;
		top: 10px;
		right: -60px;
		font-size: 25px;
		}
	
/*}[id=requestFormPart1]*/

/*[id=requestFormPart2] { */
.form-wrapper .row > label {
			margin-bottom: 28px;
		}
		.title-label {
		margin-bottom: 4px;
		}
		#rae-comments {
			width: 507px;
			max-width: 94vw;
		}
		
/*}[id=requestFormPart2]*/

/* [id=requestFormPart3] { */

	
	#requestsList {
    margin-top: 138px;
	}
	.icon-cancel:after {
    margin-left: 22px;
    font-size: 40px;
    bottom: -8px;
    position: relative;
	}
	}/*[id=requestFormPart3]*//*[id=content-RequestAnExchange]*/
	
	
[id=featuredResortsListing] {
	padding-bottom: 60px;
	h2 {
		width: 100%;
    	margin-top: 74px;
	}
	.legend {
		max-width: 600px;
		text-align: center;
		border-top: solid 1px #999;
		border-bottom: solid 1px #999;
		width: 90vw;
		margin: 42px auto 38px;
		padding: 15px 12px 12px;
		@include display-flex; 
		@include justify-content(space-between);
		@include breakpoint(phablet) {
		padding: 15px 76px 12px;
            li {
            margin-bottom: 0;
            margin-top: 0;
            }
		}
	}
	.click-box {
		padding-bottom: 2px!important;
		.type {
			display: inline-block;
			width: 100%;
			height: 40px;
			.ir {
				position: absolute;
				}
			li {
				display: inline-block;
				width: 30px;
				height: 30px;
			}
		}
	}



}/*[id=featuredResortsListing]*/


#seeWhatsAvailable {
	.title-label {
		margin-bottom: 40px;
		}
	h4 {
		font: normal 20px/25px $brand-font;
		color: $brand-color;
		margin-bottom: 1em;
		width: 100%;
		}
	.datepicker-wrapper {
		width: 211px;
	}
	
	.form-wrapper label {
    margin-bottom: 28px;
	}
	[id=swa-Submit] {
	margin-top:114px;
	margin-bottom: 80px;
	width: 300px;
	}
}
	
	
[id=formActivatePassword] {
	.title-label {
		max-width: 540px;
        margin-top: 10vw;
        @include breakpoint(desktop) {  
		margin-top: 124px;
        }
	}
	.form-wrapper {
		width: 825px;
        @include breakpoint(tablet-p) {        
            max-width: 90vw;
        }
        @include breakpoint(phone-p) {        
            max-width: 100%;
        }
		margin: 0 auto;
		.form-column {
			max-width: 325px;
			@include align-self(flex-start);
			.row {
				margin-bottom: 0;
				max-width: 412px;
			}
		}	
	}	
	.input-field {
    	max-width: 325px;
        @include breakpoint(phone-p) {
        max-width: 90vw;
        }
	}	
	
	.note {
		color: $brand-color;
		max-width: 280px;
		margin-left: 12px;
		@include breakpoint(tablet) {
			margin-left: 0;
		}
		&:before {
			 content: '\E81b';
			font: normal 40px/1.2 dae;
			width: 100%;
			display: inline-block;
			margin: 10px 0 20px;
			color: #000;
		}
	}
	.input-row {
		text-align: center;
		@include breakpoint(tablet) {
			text-align: right;
		}
    	display: inline-block;
	    padding: 32px 3vw 90px;
	}
	

}/*[id=formActivatePassword]*/



[id=myProfileFlyout] {
    padding-top: 70px;
	max-width: 1066px;
    margin: auto;
	position: relative;
	.trigger-close {
		position: absolute;
		right: 0;
		top: 18px;
	}
	.tabs {
	@include justify-content(space-between);
    @include display-flex;
		li.active, li:hover {
		background-color: #F0F1F3;
		}
	
	}
	
	h2.h3 {
		font-family:$brand-font;
	}
	
	
	
}/*[id=myProfileFlyout]*/	

		
@media print {
#bookingConfirmationTotal > div {margin-bottom: 0;} 
#bookingConfirmationTotal p {
    width: auto;
    display: inline-block;
    font-size: 24px;
    margin-right: 2rem;
}
#container .total-block {
    background-color: #085fbd;
    color: #fff;
    max-width: 33%;
    float: left;
    clear: none;
    display: block;
    padding: 0;
	margin: 0;
	dl {
		padding-bottom: 0;
	}
}
#bookingSequence .list-boxes {
    -webkit-justify-content: flex-start;
    -webkit-flex-flow: column nowrap;
	justify-content: flex-start;
    flex-flow: column nowrap;
    height: 220px;
}
#bookedResort {
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-flex-flow: row nowrap;
	justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    width: 100%;
	margin-top: 10px;
}
#bookingSequence .list-content {
    display: inline-block;
    text-align: left;
	p {
		text-align: left;
	}
	
}
#paymentConfirmedHeader {
    	
	p {
	max-width: 80%;
	}

&:after {
	    margin-top: 40px;
	}
}	
#bookingConfirmationTotal {
	min-width: 100%;
	margin-bottom: 0;
	margin-top: -24px!important;	
		div {
			width: 100%;
			margin-bottom: 0;
			margin-top: 0;	
			padding: 0;
			text-align: right;
			p:first-child {
				margin-right: .5em;
			}
			p {
				width: auto;
				text-align: right;
			
			}
		}
}

}		
		
li.optgroup-option {
    padding-left: 24px;
}		

[id^=contentOwnershipPanel] {
	.inner-wrapper {
    margin-top: -35px;
	}
	font: normal 20px/30px $brand-font-light;
		p strong{
			color: $brand-color;
			}
		ol {
		margin: 11px 0 22px 1.2em;
			li {
				 padding-left: 20px;
			}
		}
	.button {margin-top: 40px;}

		.long {
				@include breakpoint(phone) {
					.input-field,.select-wrapper {
					width: 367px;
					max-width: 80vw;
						input, select {
							font-size: 5vw;
						}
					}
				}
		}

}

[id^=accBankAWeek],[id^=accMemberSpecials], [id^=accMemberSpecials] {
    margin-top: 66px;
		h3 {
			
		}
		p.intro {
		font: normal 20px/1.2 $brand-font-light;
		margin-bottom: 18px;
		}
		.columns-block .header-row {
			margin-bottom: 6px;
			& +	.row + .row {
					margin-top: 18px;
				}
		}
}

[id=bookingForm-BankAWeek] {

		padding-bottom: 100px;
	@include breakpoint(tablet) {
		padding-left: 68px;
		}
    
    margin-top: 56px;
	@include breakpoint(phone) {
		padding-left: 0;
	}
	h2 {
    	margin-bottom: 18px;
	}
	hr {
	    background: #ccc;
		border-color: #ccc;
		width: 328px;
		max-width: 90vw;
		margin-top: 20px;
		margin-bottom: 25px;
	}
    .total-block .row{
        @include breakpoint(tablet-p) {
            margin-left: 0;
        }
    }
	.long  {
            
    		@include breakpoint(tablet-p) {
                .input-field {
        		  width: 290px;
        		}
                &.member-form .row {
                    max-width: 96%;
                }

            }
        
	}
	.grid-1-2.total-block {
		position: relative;
		top: -62px;
	}
    .check-button input[type=submit] {
        max-width: 90vw;
    }
}

[id=accRewardsDiscounts],
[id=accdaeXtra],[id=accTravelOffers],[id=accMemberSpecials]
 {
	padding-bottom: 100px;
	padding-left: 0;
	@include breakpoint(phone) {
		padding-bottom: 50px;
	}
		
	@include breakpoint(desktop) {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	
	p {
	font: normal 20px/34px $brand-font-light;
	margin-top: 6px;
	margin-bottom: 24px;
	}
	
	.total-block {
		@include breakpoint(below-tablet) {
		max-width: 318px;
    	margin: auto;
		}
		height: 258px;
    	@include align-items(center);
		span {
			font: normal 75px/1.2 $brand-font-condensed-thin;
			width: 100%;
    		display: inline-block;
		}
	}
	.grid-65 {
		@include flex-flow(row,wrap);
    	padding-left: 78px;
		@include breakpoint(below-tablet) {
		padding-left: 10px;
		}
		@include align-content(flex-start);
    	padding-top: 20px;
		ul {
			font-size: 20px;
			margin-top: 20px;
		}
	}
}
#accdaeXtra, #accTravelOffers {
	.split-list-row	 {
		max-width: 645px;
		margin: 60px auto;
    	font-size: 20px;
		font-size: 20px;
			@include breakpoint(phone) {
				margin: 0 auto 40px;			
			}
	}
}	

[id=accMyBookings],[id=accMyCustomRequests] {
		padding: 0 0 50px 0;
		@include breakpoint(desktop) {
	    padding: 0 0 100px 38px;
		}
		.grid-35 {
        & > .col {
            @include breakpoint(tablet-p) {
            -webkit-flex-basis: auto;
            flex-basis: auto;
            }
        }
        & > .col:first-child {
        min-width: 216px;
        padding-right: 24px;
        
        } 
        
		}
		.grid-65 {
			@include breakpoint(phone) {
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			}	
		}
		 .row .col {
		 	margin-top: 0;
		 }
		 .col-button {
		@include breakpoint(phone) {
			-webkit-box-flex: 100%;
			-webkit-flex: 100%;
			-ms-flex: 100%;
			flex: 100%;	
		}	
		.button {
			@include breakpoint(phone) {
			margin: 0em 0 2em;
			position: relative;
			top: -20px;	
			& + .button {
				margin-left: 20px;
			}		
		}	
		}
	
	}
}

[id=accMyCustomRequests] {
	.button{
	min-width: 106px;
	margin-bottom: 10px;
		
	}
	
		h2.c {
			text-transform: uppercase;
			font-size: 36px;
			margin-bottom: 60px;
		}
	
}	

#modalHelpUsHelpYou {
	.h1 {
		margin-top: 16px;
		margin-bottom: 18px;
	}
	p {
		font-size: 26px;
		max-width:  800px;
		margin-bottom: 68px;
	}
	
	.button {
		margin-top: 122px;
	}
}


#memberBar {
	 background: gray;
     &.gold,.gold-member &  {
     background: $gold
     }

    @include display-flex;
	a{
		display: inline-block;
		width: 1104px;
		max-width: 90%;
		margin: 0 auto;
		text-align: right;
		line-height: 40px;
		height: 40px;
    	color: #fff;
		&:after {
			content: '\f419';
			font-family: dae;
			font-size: 26px;
			line-height: 40px;
			margin-left: 10px;
			bottom: -2px;
			position: relative;
			}
		}
}
